.logo{
     height: 10px;
}
.container-fluid {
    display: flex;
    gap: 40px;
    
}
.com-log1{
    width: 100px;
}
.com-logo2{
    width: 100px;
}
.com-log3{
width: 100px;
}
.button{
    display: flex;
}